@use "../base/variables" as *;

body {
    background: var(--body-bg-color);
    padding: toRem(80px) 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-bottom: toRem(60px);
}