@use "../base/variables" as *;

body {
    background: var(--body-bg-color);
    width: 100vw;
    padding: 5vh 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-bottom: rem(60px);
}