@use "../base/variables" as *;

@media (max-width: 20rem) {
	.product-card {
		width: toRem(300px);
	}
}

@media (min-width: 48rem) {
    .product-card {
        width: toRem(600px);
		display: flex;

        &__hero {
            width: 48%;
            height: auto;
            min-height: 425px;
        }

        &__info {
            width: 52%;
        }

        &__heading {
            margin: 0.7em 0;
        }

        &__price {
            margin-bottom: toRem(18px);
        }
    }

    img,
    picture {
        height: 100%;
    }

	.btn:hover {
		background-color: var(--bg-button-hover);
	}
}