@use "../base/variables" as *;

.btn {
    display: flex;
    justify-content: center;
    gap: toRem(10px);
    width: 100%;
	border: none;
	cursor: pointer;
    padding: toRem(15px) 0;
    background-color: var(--button-bg-color);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    color: var(--text-light-color);
    border-radius: 10px;
    transition: background-color 0.2s linear;
}