@use "../base/variables" as *;

.product-card {
    background-color: var(--card-bg-color);
    font-family: var(--ff-primary);
    font-size: toRem(14px);
    color: var(--text-color);
    width: toRem(342px);
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;

    &__info {
        padding: toRem(25px);
        font-weight: var(--fw-normal);
    }

    &__category {
        font-size: toRem(14px);
        text-transform: capitalize;
        letter-spacing: 0.5em;
        font-weight: var(--fw-normal);
    }

    &__heading {
        font-family: var(--ff-secondary);
        font-size: toRem(30px);
        color: var(--text-dark-color);
        line-height: 1;
        margin: toRem(15px) 0;
    }

    &__price {
        margin: toRem(18px) 0 toRem(12px);
        display: flex;
        align-items: center;
        gap: toRem(16px);
    }

    &__new-price {
        font-family: var(--ff-secondary);
        font-size: toRem(30px);
        color: var(--text-highlight);
    }

    &__old-price {
        text-decoration: line-through;
    }
}