body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}